@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(fonts/Roboto-Light.ttf);
}


* {
    font-family: Roboto;
}

ul {
    list-style-type: none;
    display:flex;
}

a {
    text-decoration: none;
}

.content {
    margin-left: -10px;
    margin-right: -10px;
}

.main-section,
.information,
.quote {
    padding-left: 200px;
    padding-right: 200px;
}

.main-section {
    background-color: #1F2937;
    margin-top: -8px;
    padding-bottom: 90px;
}

.header {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    justify-self: flex-end;
    font-size: 18px;
}
.header-links a {
    padding-left: 18px;
    color: #E5E7EB;
    font-family: Roboto-light;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
}

.sing-up-button {
    font-size: 18px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0px;
    border-radius:10px; 
    padding:7px;
    min-height:20px; 
    min-width: 120px;
}

#information-title {
    display:flex;
    justify-content: center;
}

.quote  {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote h2 {
    color: #1F2937;
    font-size: 36px;
    font-family: Roboto-light;
}